:root {
  --ventana-color:#fff;
  --puerta-color:#fff;
  --cielo-color:rgb(49, 49, 49);
  --casa-color:rgb(15, 58, 99);
  --luna-color:#ccc;
  --noche-color:#223;
  --aureloaLuna--color:#445;
  --nav-hoverColor: rgb(105, 0, 0);
  --nav-color: rgb(139, 1, 1);
  --text-nav-color: rgb(196, 195, 157);
}

body {
  margin: 0;
  box-sizing: border-box;
}

.nav {
  /* width: 100%;
  height: 45px;
  background-color: var(--nav-color); */
  overflow: hidden; /* para que todo lo que sobresalga del nav este oculto */
  
}

.hamb-menu {
  display: none; /* para ocultar el icono menu-hamb mientras la pag sea mayor a 720px */
}

.close-menu {
  display: none; /* para ocultar el icono close-menu mientras la pag sea mayor a 720px */
}

#evento-click {
  display: none; /*se oculta el checkbox*/
}

.ul-lista {
  display: flex;
  margin: 0;
  padding: 2vh;
  list-style-type: none;
  background-color: var(--nav-color);
  
}

.a-lista {
  margin: 0;
  padding: 2vh;
  text-decoration: none;
  color: var(--luna-color);
  font-weight: bold;
  font-size: 1.3rem;

}

.a-lista:hover {
  background: var(--nav-hoverColor);
  box-shadow: inset 0 0 10px var(--nav-color);
  color: var(--text-nav-color);
}

.cielo {
  position: relative; /* para que el recuadro cielo se posicione dentro de la pagina */
  width: 100%;
  height: 400px;
  margin: 0;
  /* background: var(--cielo-color); */
  top:0px;
  background: var(--noche-color);
  /* background: radial-gradient(
        closest-corner circle at 65% 25%,
        var(--luna-color),
        var(--luna-color) 20%,
        var(--aureloaLuna--color) 21%,
        var(--noche-color) 100% 
      ); */
  overflow: hidden; /* para que todo lo que sobresalga del recuadro se oculte */
  opacity: 100%;
}

.casa {
  position: absolute; /*para que la casa se posicione dentro del recuadro cielo */
  bottom: 0;
  left: 40%;
  transform: translate(-50%);
  filter: blur(0.5px);
  z-index: 4;
  
}

.casa .triangulo {
  width: 0%;
  height: 0;
  border-right: 80px solid transparent;
  border-left: 80px solid transparent;
  border-bottom: 80px solid var(--casa-color);
  
  
}

.casa .cuadrado {
  width: 100%;
  height: 100px;
  background: var(--casa-color);
  box-shadow: inset 0 0 10px;  /*el inset crea la sombra por dentro del cuadrado*/
}

.ventana {
  position: absolute;
  width: 40%;
  height: 40px;
  background: var(--ventana-color);
  top: 60%;
  left: 10%;
  box-shadow: inset 0 0 5px;
}

.puerta {
  position: absolute;
  width: 20%;
  height: 70px;
  background: var(--puerta-color);
  bottom: 2px;
  right: 10%;
  box-shadow: inset 0 0 5px;
}

.arbol {
  position: absolute;
  width: 400px;
  bottom: -6vh;
  right: 1%;
  filter: blur(1px);
  z-index: 5;
  /*animacion*/
  animation-name: mover3;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: bottom;
}

@keyframes mover3 {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.luna {
  position: absolute;
  width: 350px;
  right: 15%;
  top: -100px;
  filter: blur(2px);
  opacity: 80%;
  z-index: 1;
  /*animacion*/
  /* animation-name: mover;
  animation-duration: 180s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear; */
}

/* @keyframes mover {
  0% {
    transform: translateX(50%) translateY(-50%) scale(0.5);
  }
  50% {
    transform: translateX(0) translateY(0) scale(1.3);
  }
  100% {
    transform: translateX(-70%) translateY(50%) scale(2);
  }
} */



.nube-1 {
  position: absolute;
  width: 400px;
  opacity: 50%;
  filter: invert(0%);
  filter: blur(3px);
  right: 30%;
  top: 100px;
  z-index: 4;
  /*animacion*/
  animation-name: mover1;
  animation-duration: 180s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes mover1 {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(600px);
  }
}

.nube-2 {
  position: absolute;
  width: 400px;
  right: 10%;
  opacity: 60%;
  filter: invert(0%);
  filter: blur(3px);
  /* transform: rotate(180deg); */
  z-index: 2;
  /*animacion*/
  animation-name: mover2;
  animation-duration: 240s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes mover2 {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(-900px);
  }
}

.montana {
  position: absolute;
  width: 100%;
  height: 150%;
  right: 10px;
  bottom: -100px;
  z-index: 3;
  filter: blur(2px);
}

@media (max-width:720px){
  .cielo {
    z-index: 0; /* para que el paisaje quede abajo del menu */
  }
  .nube-1 {
    right: -45%;
  }
  .nube-2 {
    right: 40%;
  }
  .ul-lista {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 100;  /* para que el menu quede arriba del paisaje */
  }
  .li-lista {
    padding: 3vh;
  }
  .hamb-menu {
    display: block; /* para que aparezca el icono menu-hamb cuando la pag es menor a 720px */
    position: absolute; /* para que quede dentro del navegador */
    top: 1rem;
    right: 1rem;
    filter: invert(1); /* para que el icono negro se vuelva blanco */
    z-index: 100;
    cursor: pointer; /* cuando pasa el cursor arriba del icono aparece la manito */
  }
  .close-menu {
    position: absolute;
    display: none;
    filter: invert(1); /* para que el icono negro se vuelva blanco */
    top: 1rem;
    right: 1rem;
    z-index: 100;
    cursor: pointer; /* cuando pasa el cursor arriba del icono aparece la manito */
  }
  #evento-click:checked ~ .ul-lista {
    display: flex;
  }

  #evento-click:checked ~ .close-menu {
    display: flex;
    z-index: 110;
  }

}